<!-- wp:template-part {"slug":"header","theme":"oakridge-carpenter-and-joinery","tagName":"header"} /-->

<!-- wp:pattern {"slug": "oakridge-carpenter-and-joinery/header-011"} /-->

<!-- wp:pattern {"slug": "oakridge-carpenter-and-joinery/content-022"} /-->

<!-- wp:pattern {"slug": "oakridge-carpenter-and-joinery/content-023"} /-->

<!-- wp:pattern {"slug": "oakridge-carpenter-and-joinery/content-024"} /-->

<!-- wp:pattern {"slug": "oakridge-carpenter-and-joinery/content-025"} /-->

<!-- wp:pattern {"slug": "oakridge-carpenter-and-joinery/cta-006"} /-->

<!-- wp:template-part {"slug":"footer","theme":"oakridge-carpenter-and-joinery","area":"footer"} /-->