<!-- wp:template-part {"slug":"header","theme":"oakridge-carpenter-and-joinery","tagName":"header"} /-->

<!-- wp:pattern {"slug": "oakridge-carpenter-and-joinery/header-012"} /-->

<!-- wp:pattern {"slug": "oakridge-carpenter-and-joinery/contact-012"} /-->

<!-- wp:pattern {"slug": "oakridge-carpenter-and-joinery/contact-013"} /-->

<!-- wp:pattern {"slug": "oakridge-carpenter-and-joinery/contact-014"} /-->

<!-- wp:template-part {"slug":"footer","theme":"oakridge-carpenter-and-joinery","area":"footer"} /-->